.header_bg {
    background: url("../images/header.png");
    background-color: transparent;
    background-size: cover;
    border: medium none !important;
    border-radius: 0 !important;
    width: 100%;
    min-height: 30px;
}
@media (min-width: 768px){
    .header_bg {
    background: url("../images/header.png");
    background-color: transparent;
    background-size: cover;
    border: medium none !important;
    border-radius: 0 !important;
    height: 100px;
    width: 100%;
    }
}
.logo_img {
 background: url("../images/logo.png") no-repeat scroll 0 0 / 120px auto;
    height: 70px;
    left: 12px;
    position: absolute;
    top: 3px;
    width: 200px;
}
@media (min-width: 768px){
    .logo_img {
    background: url("../images/logo.png") no-repeat scroll 0 0 / 175px auto;
    height: 70px;
    left: 12px;
    position: absolute;
    top: 0px;
    width: 200px;
    }
}
.header_content{
    position: relative;
    top: 0px;
}
@media (min-width: 768px){
    .header_content{
    position: relative;
    top: 20px;
    }
}
.footer_txt {
    background: hsl(220, 12%, 30%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%);
    font-family: Montserrat;
    height: 34px;
    padding: 8px 0 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: relative; !important;
}
.user_txt {
    line-height: 2;
}
@media (min-width: 768px){
    .user_txt {
    line-height: 3;
    }
}
.user_txt > span {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    color: hsl(0, 0%, 5%);
}
@media (min-width: 768px){
    .user_txt > span {
    font-family: Montserrat;
    font-size: 56px;
    font-weight: bold;
    color: hsl(0, 0%, 5%);
    }
}
.admin > label {
    color: hsl(0, 0%, 5%);
    font-size: 15px;
}
@media (min-width: 768px){
    .admin > label {
    color: hsl(0, 0%, 5%);
    font-size: 20px;
    } 
} 
.email_txt,.pwd_txt,.remember_txt {
    color: hsl(0, 0%, 25%);
    font-family: Montserrat;
    font-size: 15px;
}
.login_btn {
    background-color: hsl(195, 100%, 26%) !important;
    border: medium none !important;
    color: hsl(0, 0%, 100%) !important;
    height: 45px;
    width: 134px;
    font-family: Montserrat;
}
.login_form {
    height: 300px;
    margin: 25px 0 0;
}
.forget_txt{
    color: #414141;
    font-family: Montserrat;
    text-decoration: underline;
}
.align_center{
	text-align: center;
}
.align_right{
	float: right;
}
.sports{
  	font-size: 60px;
    font-weight: bold;
    position: relative;
    font-family:  Montserrat;
}
.clear_both{
	clear: both;
}
.sportsname{
	width: 100%;
}
.align_margin{
	margin-bottom:23px;
}
.align_left {
    left: 95px;
    position: relative;
}
.align_left1 {
    left: 50px;
    position: relative;
}
.align_height{
    line-height: 2;
}
.fl{
    float: left;
}
.positioning_r{
    position: relative;
}
.row_color{
    color: #006687;
}
.delete_color {
    color: rgb(87, 102, 107);
    font-weight: bold;
}
.align_left_icon{
    margin-right: 10px;
    border-radius: 0 !important;
}
.align_right_icon{
    margin-left: 10px !important;
    border-radius: 0 !important; 
}
.submit{
	background: none repeat scroll 0 0 #006687;
    height: 45px;
    width: 135px;
    border-radius: 0 !important;
    font-weight: bold;
    font-family: Montserrat;
}
.clear{
    background-color: #ffffff !important;
    color: #006687 !important;
    height: 45px;
    width: 135px;
    border-radius: 0 !important;
    font-weight: bold;
    font-family: Montserrat;
    margin-right: 10px;
}
.container_holder {   
    width: 785px;
}
.districts{
	width: 410px;
	height: 34px;
}
.adjust_width{
	width: 410px;
	height: 34px;
	/*border-radius:  0 !important;*/
	box-shadow: none !important;
}
.adjust_width_tiny{
    width: 115px !important;
    height: 34px;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.align_margin_right{
	margin-right: 48px;
}
.table_adjust {
    left: 90px;
    position: relative !important;
    width: 80%;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
border-top: 0 !important;
}
.table > thead > tr > th{
	border-bottom: 1px !important;
}
. table > tbody{
	border:1px solid !important;
}
.state_table > tbody td{
    border:1px solid;
     border-bottom: 0 !important
}
.state_table > thead{
    border-bottom: 1px solid;
}
.state_table > tbody tr:last-child{
    border-bottom: 1px solid !important;
}
.navbar {
    margin-bottom:-1px;
    border-radius:0;
}

#submenu {
    background-color: #e7e7e7;
    margin-bottom:20px;
}

.collapsing {
    display:none;
}