@font-face{
    font-family: Montserrat;
    src :url(../fonts/Montserrat-Regular.ttf);
}
.header_bg {
    background: url("../images/header.png");
    background-color: transparent;
    background-size: cover;
    border: medium none !important;
    border-radius: 0 !important;
    width: 100%;
    min-height: 30px;
}
@media (min-width: 768px){
    .header_bg {
    background: url("../images/header.png");
    background-color: transparent;
    background-size: cover;
    border: medium none !important;
    border-radius: 0 !important;
    height: 100px;
    width: 100%;
    margin: 0 !important;
    }
}
.logo_img {
 background: url("../images/logo.png") no-repeat scroll 0 0 / 120px auto;
    height: 70px;
    left: 12px;
    position: absolute;
    top: 3px;
    width: 200px;
}
@media (min-width: 768px){
    .logo_img {
    background: url("../images/logo.png") no-repeat scroll 0 0 / 175px auto;
    height: 85px;
    left: 12px;
    position: absolute;
    top: -12px;
    width: 200px;
    }
}
.header_content{
    position: relative;
    top: 0px;
    font-family: Montserrat;
}
@media (min-width: 768px){
    .header_content{
    position: relative;
    top: 20px;
    font-family: Montserrat;
    width: 80% !important;
    }
}
.footer_txt {
    background: hsl(220, 12%, 30%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%);
    font-family: Montserrat;
    height: 34px;
    padding: 8px 0 0;
/*    text-align: center;
*/    width: 100%;
    bottom: 0;
    position: absolute !important;
    display: none;
}

.bottom_alignment_footer {
    position: relative !important;
    top:auto !important;
    bottom:0px !important;
    display: block;
}
.user_txt {
 height: 102px;
}

.user_txt > span {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    color: hsl(0, 0%, 5%);
}
@media (min-width: 768px){
    .user_txt > span {
        color: hsl(0, 0%, 5%);
        font-family: Montserrat;
        font-size: 47px;
        font-weight: bold;
        left: -22px;
        line-height: 130px;
        position: relative;
    }
}
.admin > label {
    color: hsl(0, 0%, 5%);
    font-size: 15px;
}
@media (min-width: 768px){
    .admin > label {
    color: hsl(0, 0%, 5%);
    font-size: 17px;
    }
}
.email_txt,.pwd_txt,.remember_txt {
    color: #414141;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    margin: 6px 0 0 -3px;
}
.login_btn {
    background-color: hsl(195, 100%, 26%) !important;
    border: medium none !important;
    color: hsl(0, 0%, 100%) !important;
    height: 45px;
    width: 134px;
    font-family: Montserrat;
}
.login_form {
    height: 282px;
    margin: 18px 0 0 72px !important;
    width: 500px;
}
.forget_txt{
    color: #414141;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    margin: 10px 15px 0 4px;
    position: relative;
    text-decoration: underline;
    top: 10px;
}
.align_center{
	text-align: center;
}
.align_right{
	float: right;
}
.sports{
  	font-size: 48px;
    font-weight: bold;
    position: relative;
    font-family:  Montserrat;
}
.clear_both{
	clear: both;
}
.area_width{
	width: 66%;
}
.statesname,.sportsname,.edit_states_name{
    width: 100%;
    height: 33px;
}
.align_margin{
	margin-bottom:23px;
}
.align_left {
    left: 0px;
    position: relative;
}
@media (min-width: 768px){
    .align_left {
    left: 95px;
    position: relative;
    }
}
.align_left1 {
    left: 50px;
    position: relative;
}
.align_height{
    line-height: 2;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.positioning_r{
    position: relative;
}
.row_color{
    color: #006687;
    font-family: Montserrat;
}
.delete_color {
    color: #aaaaaa;
    font-family: Montserrat;
    font-weight: normal;
}
.align_left_icon{
    margin-right: 10px;
    border-radius: 0 !important;
}
.align_right_icon{
    margin-left: 10px !important;
    border-radius: 0 !important;
}
.submit{
	background: none repeat scroll 0 0 #006687;
    height: 45px;
    width: 135px;
    border-radius: 0 !important;
    font-weight: bold;
    font-family: Montserrat;
}
.clear{
    background-color: #006687 !important;
    color: #fff !important;
    height: 45px;
    width: 135px;
    border-radius: 0 !important;
    font-weight: bold;
    font-family: Montserrat;
    margin-right: 0px;
}
.clear:hover{
    background: none repeat scroll 0 0 #fff !important;
    height: 45px;
    width: 135px;
    border-radius: 0 !important;
    font-weight: bold;
    font-family: Montserrat;
    color: #006687 !important;
}
.container_holder {
    width: 785px;
}
.districts{
	width: 215px;
	height: 34px;
}
@media (min-width: 768px){
    .districts{
    width: 410px;
    height: 34px;
    }
}
.adjust_width{
	width: 410px !important;
	height: 34px;
	/*border-radius:  0 !important;*/
	box-shadow: none !important;
}
.adjust_width_tiny{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 10px 32px;
    position: relative;
    right: 110px;
    width: 115px !important;
    font-family: Montserrat;
    color: #424242  !important;
}
.adjust_tiny{
     border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 10px 0 3px -2px;
    position: relative;
    width: 125px !important;
}
.align_margin_right{
	margin-right: 48px;
}
.table_adjust {
    left: 90px;
    position: relative !important;
    width: 80%;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border: 0 !important;
    /*max-width: 12px;*/
}
.table > thead > tr > th{
	border-bottom: 1px !important;
}
.table > tbody{
	border:1px solid #e2e2e2 !important;
}
.table > tbody td{
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 0 !important
}
.table > thead{
    border-bottom: 1px solid #e2e2e2 !important;
}
.table > tbody tr:last-child{
    border-bottom: 1px solid #e2e2e2 !important;
}
.align-height{
    line-height: 2;
}
#submenu {
    background-color: hsl(0, 0%, 100%);
}
.menu_list {
    padding: 0 !important;
    width: 100%;
}
.nav_holder {
    background-color: hsl(195, 100%, 26%) !important;
    border-color: hsl(195, 100%, 26%) !important;
}
.nav_holder li a{
    color: #2d2d2d;
    font-size: 24px;
    font-family: Montserrat;
    line-height: 3;
    font-weight: bold;
}
.nav_holder li :hover{
    background-color: hsl(195, 100%, 26%) !important;
    border-color: hsl(195, 100%, 26%) !important;
    color:#fff !important;
}
.nav_holder li {
    border-right: 1px solid hsl(195, 100%, 20%);
    height: 100px;
}
.nav_holder > li > a:hover, .nav_holder > li > a:focus {
    background-color: hsl(195, 100%, 26%) !important;
    outline: medium none !important;
    text-decoration: none !important;
}
.submenu_list {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
}
.submenu_list li a{
    color: #2d2d2d;
     font-weight: bold;
}
.submenu_list > li > a:hover{
    color: #009acc !important;
    background-color: transparent !important;
}
.submenu_list > li > a:focus{
    background-color: transparent !important;
    outline: medium none !important;
}
.submenu-align {
    height: 63px;

    position: absolute;
    z-index: 1;
}
.submenu-align > li {
    border-bottom: 1px solid #636363;
    line-height: 3;
}
.submenu_list {
    padding: 0 4px 0 48px !important;
    position: relative !important;
    width: 100% !important;
}
select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, #a0a0a0 50%),
    linear-gradient(135deg, #a0a0a0 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) -0.5em;
  background-size: 5px 5px, 5px 5px, 0.07em 3.5em;
  background-repeat: no-repeat;
  cursor: pointer;
}
select {
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance: none;
}
.navbar {
    margin-bottom:-1px;
    border-radius:0;
}

#submenu {

    margin-bottom:20px;
}

.collapsing {
    display:none;
}
.edit_state,.edit_district{
    cursor: pointer;
    float: right;
    position: relative;
    right: 50px;
}
.popup_fade {
    background:#000000;
   -moz-opacity:0.63;
    opacity: 0.63;
    display: none;
    width: 100%;
    height: 1000%;
    position: absolute;
    top: 0;
    z-index: 1100;
    overflow: hidden;
}
/*.state_div{
    height: 200px;
    width: 360px;
    position:absolute;
    z-index:9999;
    background:#fff;
    display: none;
    box-shadow: 0 2px 10px 3px #b8b7b9;
     margin: -9px 0 0 -28px;
}
.delete_div{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 145px;
    position: absolute;
    width: 200px;
    z-index: 9999;
    padding: 5px 7px;
    margin: 23px 0 0 125px;
}*/
.login_div{
    height: 350px;
    width: 500px;
    top:50%;
    left:50%;
    position:fixed;
    z-index:9999;
    background:#fff;
    display:none;
}
.register_div{
    height: 560px;
    width: 500px;
    top:50%;
    left:50%;
    position:fixed;
    z-index:9999;
    background:#fff;
    display:none;
}
.test_div{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 353px;
    margin: -9px 0 0 -110px;
    position: absolute;
    width: 275px;
    z-index: 9999;
    white-space: normal;
}
/*.district_div{
    height: 300px;
    width: 440px;
    top:50%;
    left:50%;
    position:absolute;
    z-index:9999;
    background:#fff;
    display:none;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    margin: -9px 0 0 -28px;
}*/
.test_battery_div,.athletes_div,.createschedule_div{
    height: 370px;
    margin: 0 0 0 -122px;
    width: 290px;
    position:absolute;
    z-index:9999;
    background:#fff;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display:none;
    overflow-y: scroll;
}
.test_battery{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 390px;
    margin: 0 0 0 -95px;
    position: absolute;
    width: 290px;
    z-index: 9999;
}
.range_div{
   background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 425px;
    margin: 0 0 0 -58px;
    position: absolute;
    width: 290px;
    z-index: 9999;
}
.assign-schedule-popup{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 425px;
    margin: 0 0 0 -80px;
    position: absolute;
    width: 290px;
    z-index: 9999;
}
.close_btn{
    background-color: hsla(0, 0%, 0%, 0);
    background-image: url("../images/close_btn.png");
    background-repeat: no-repeat;
    height: 25px;
    position: absolute;
    right: 8px;
    top: 14px;
    width: 25px;
    cursor: pointer;
}
.state-content{
    margin: 25px 0px 0px 0px;
}
.yes_btn{
    background-color: #ffffff !important;
    border-radius: 0 !important;
    color: #006687 !important;
    font-family: Montserrat;
    font-weight: bold;
    height: 32px;
    margin-right: 9px;
    width: 45px;
}
.no_btn{
    background-color: #ffffff !important;
    border-radius: 0 !important;
    color: #006687 !important;
    font-family: Montserrat;
    font-weight: bold;
    height: 32px;
    margin-right: 15px;
    width: 45px;
}
.yes_btn:hover,.no_btn:hover{
    background-color: #006687 !important;
    color: #fff !important;
}
.delete_state,.delete_district{
    cursor: pointer;
    float: right;
    position: relative;
}
.edit_state:hover,.edit_district:hover{
    color: #006687 !important;
}
.del_title ,.login_title,.edit_title{
    font-size: 14px;
    height: 40px;
    padding: 12px 0 0 15px;
    font-weight: bold;
    font-family: Montserrat;
}
.del_content {
    color: #414141;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 2;
    text-align: left;

}
.states_list,.district_list,.edit_states_list{
    display: none;
}
.reg_check {
    background-color: transparent;
    color: #006687;
    text-decoration: underline;
}
.info_reg{
    font-size: 12px;
    font-family: Myriad Pro;
    color: #000;
}
.delete_color:hover {
    background: #d9e8ed;
    color: #414141;
}
.schedule_btn {
    padding: 0 !important;
}
.dob_align{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 10px 32px;
    position: relative;
    right: 120px;
    width: 115px !important;
    font-family: Montserrat;
    color: #424242  !important;
}
.range_align{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242  !important;
    font-family: Montserrat;
    height: 34px;
    position: relative;
    right: 45px;
    width: 130px !important;
}
.ranges_btn{
    background-color: #fff !important;
    border-radius: 0 !important;
    bottom: 45px;
    color: #006687 !important;
    cursor: pointer !important;
    float: right;
    font-family: Montserrat;
    font-weight: bold;
    height: 35px;
    padding: 2px 0 2px 32px !important;
    width: 135px;
}
/*.parameter_btn{
    background-color: #006687 !important;
    border-radius: 0 !important;
    color: #fff !important;
    cursor: pointer !important;
    font-family: Montserrat;
    font-weight: bold;
    height: 35px;
    margin-right: 15px;
    padding: 10px 10px 0 !important;
    width: 32px;
}*/
.type_align{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 25px 0 10px -12px;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px !important;
    padding: 0.5em 2.5em 0.5em 0.5em !important;
}
.area_scroll{
    border: 1px solid #a0a0a0;
    overflow-y: scroll;
    width: 78%;
    height: 120px;
}
.align_check {
    margin: 10px 0 10px 15px;
}
.name_align{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 0px 20px;
    position: relative;
    right: 18px;
    width: 205px !important;
    color: #424242  !important;
    font-family: Montserrat;
}
.name_align_popup{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 0px -25px;
    position: relative;
    right: 18px;
    width: 205px !important;
    color: #424242  !important;
    font-family: Montserrat;
}
.result_athletename,.result_athletemobile{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 0px 5px;
    position: relative;
    right: 18px;
    width: 205px !important;
    color: #424242  !important;
    font-family: Montserrat;
}
.date_assign{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 0px 12px;
    position: relative;
    right: 20px;
    width: 192px !important;
    color: #424242  !important;
    font-family: Montserrat;
}
.result_athletedate,.result_athletebib{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 0;
    position: relative;
    right: 12px;
    width: 195px !important;
    color: #424242  !important;
    font-family: Montserrat;
}
.assign_border {
    border: 1px solid #a0a0a0;
    color: #414141;
    line-height: 2.2;
    padding: 6px 15px;
    width: 110px;
}
.assign_table td {
    border: medium none !important;
}
.total_div {
    position: relative !important;
    top: 50px !important;
}
.total_div:hover{
    background: transparent !important;
}
.assign_table{
    position: relative;
    top: 20px;
}
.plus_align {
    background: rgb(0, 102, 135) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    left: 0px;
    padding: 12px 10px 7px 12px;
    position: relative;
    top: 1px;
}
.parameter_remove,.district_remove{
    background: #006687 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    left: 53px;
    padding: 10px;
    position: absolute;
}
.parameter_add,.district_add{
    background: #006687 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}
label{
    color: #606060 !important;
    font-family: Montserrat;
}
button, input, optgroup, select, textarea {
    font-family: Montserrat !important;
}
.type_align_popup{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242 !important;
    font-family: Montserrat;
    height: 30px !important;
    margin: 0 0 4px 30px;
    max-width: 217px;
    padding: 0.1em 2.5em 0.2em 0.5em !important;
    position: relative;
    right: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 219px !important;
}
.area_scroll_popup{
    border: 1px solid #A0A0A0;
    overflow-y: scroll;
    width: 100%;
    height: 74px;
    text-align: left;
}
.range_align_popup{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242  !important;
    font-family: Montserrat;
    height: 34px;
    margin: 5px 0 0 10px;
    position: relative;
    right: 20px;
    width: 220px !important;
}
.footer {
    padding: 0 !important;
}
.ui-menu{
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    height: 75px;
    left: 499.5px;
    list-style: outside none none;
    overflow-y: scroll;
    padding: 0;
    position: relative;
    top: -158px;
    width: 335px;
    z-index: 9999;
}
.ui-menu-item a:hover {
    text-decoration: none !important;
}
.ui-menu-item {
    cursor: pointer;
    font-size: 15px;
    font-family: Montserrat;
    padding: 2px 0 0 6px;
}
/*for pagination add by muthu*/
.paging-nav {
      text-align: center;
      padding-top: 2px;
}

.paging-nav a {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #337ab7;
  display: inline-block;
  margin: auto 1px;
  padding: 6px 12px;
  text-decoration: none !important;
}

.paging-nav .selected-page {
      font-weight: bold;
}
#sports_table tbody,#category_table tbody{
  border: 1px solid #000;
}
/*end pagination*/
.report_head{
    border: 1px solid;
}
.adds_btn{
    background-color: rgb(255, 255, 255) !important;
    border-radius: 0 !important;
    bottom: 45px;
    color: rgb(0, 102, 135) !important;
    cursor: pointer !important;
    font-family: Montserrat;
    font-weight: bold;
    height: 35px;
    margin-right: 30px;
    padding: 2px 0 2px 32px !important;
    width: 100px;
}
.add_align{
   background: rgb(0, 102, 135) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    left: 34px;
    padding: 12px 10px 7px 12px;
    position: relative;
    top: 1px;
}
.btn_div {
    margin: 45px 5px 0;
    padding: 0 !important;
}
.user_type {
    margin: 0 0 0 -30px;
    padding: 0 !important;
}
.admin_align{
    width: 29% !important;
}
.admin-login {
    position: relative;
    top: 20px;
}
.schedule-name{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 0 0 10px 16px;
    position: relative;
    right: 56px;
    width: 225px !important;
}
.bib_popup{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 0 0 20px 28px;
    position: relative;
    right: 70px;
    top: 6px;
    width: 226px !important;
}
.create-date {
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242  !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px 5px;
    position: relative;
    right: 77px;
    width: 102px !important;
}
.create-time {
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242  !important;
    font-family: Montserrat;
    height: 34px;
    margin: 30px 0 10px 3px;
    position: relative;
    right: 75px;
    width: 102px !important;
}
.edit_states_error,.add_states_error,.add_district_error,.edit_district_error{
    display: none;
    color: red;
    float: right;
    font-size: 11px;
}
.ui-helper-hidden-accessible{
    display: none;
}

input[type=radio]
 {
  display: none;
}

.admin_label:before {
  font-weight: normal;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  left: 0;
  bottom: 1px;
  background-color: #fff;
  box-shadow: 0 0 0 2px #e7e7e7 inset;
  top: 3px;
}

.radio label:before {
  border-radius: 10px;
}
input[type=radio]:checked + label:before {
  content: '\2022';
  color: #006687;
  font-size: 32px;
  text-align: center;
  line-height: 17px;
}
/*.paramter_div{
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 280px;
    left: 50%;
    position: fixed;
    top: 50%;
    width: 478px;
    z-index: 9999;
}*/
.adjust_width_parameter{
    box-shadow: none !important;
    height: 34px;
    width: 335px !important;
}
.submenu-align > li {
    position: absolute !important;
    width: 100% !important;
}
.parameter-list {
    position: absolute;
    width: 75%;
    display: none;
}
.parameter-list ul {
    background: #fff;
    border: 1px solid #2d2d2d;
    color: #2d2d2d;
    float: right;
    list-style: outside none none;
    padding: 0;
    height: 87px;
}
.parameter-list li{
    border-bottom: 1px solid #2d2d2d;
    text-align: center;
    width: 100px;
}
.parameter-list li:hover {
    background: #006687 none repeat scroll 0 0;
    color: #fff;
}
.parameter-list a:hover {
    background: #006687 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.create-date1 {
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px -10px;
    position: relative;
    right: 100px;
    width: 132px !important;
}
.create-date2 {
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px -3px;
    position: relative;
    right: 60px;
    width: 132px !important;
}
.create-date3 {
     border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px -12px;
    position: relative;
    right: 6px;
    width: 132px !important;
}
.create-time1{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 0 0 10px -25px;
    position: relative;
    right: 0;
    width: 220px !important;
}
.create-time2{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242  !important;
    font-family: Montserrat;
    height: 34px;
    margin: 0px 0 10px;
    position: relative;
    right: 25px;
    width: 220px !important;
}
.create-time3{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242  !important;
    font-family: Montserrat;
    height: 34px;
    margin: 0px 0 0px -36px;
    position: relative;
    right: -10px;
    width: 220px !important;
}
.area_width_create{
    float: left;
    width: 115%;
}
.dob_align1{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242  !important;
    font-family: Montserrat;
    height: 34px;
    margin: 13px 0 10px 25px;
    position: relative;
    right: 120px;
    width: 120px !important;
}
.dob_align2{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242  !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px 20px;
    position: relative;
    right: 120px;
    width: 120px !important;
}.dob_align3{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #424242  !important;
    font-family: Montserrat;
    height: 34px;
    margin: 13px 0 10px -117px;
    position: relative;
    right: -7px;
    width: 120px !important;
}
.athlete-popup-content {
    height: 500px;
    overflow-y: scroll;
}
.area_width_athlete {
    width: 105%;
}
/*added for validation by ramya */
.category_text{
    display: none;
}
/*.error{
    color: red !important;
    display: block;
    float: right;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
}*/

.help-block, .form-error{
    color: red !important;
  /*  float: right;*/
    font-size: 11px;
}
.help-block{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.day, .month, .year {
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    height: 34px;
    margin-right: 17px;
    margin-top: 10px;
    padding: 6px 2px;
    position: relative;
    right: 80px;
    width: 125px;
}
.athletes_drop{
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    height: 34px;
    margin-right: 17px;
    margin-top: 12px;
    padding: 6px 2px;
    position: relative;
    right: 18px;
    width: 205px;
}
.date_pick {
    width: 33%;
    min-width: 400px;
    padding: 15px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.date_pick select, .popup_date_pick select {
    padding: 10px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin: 0 3px;
}
.hider{
    display: none !important;
}

/* end */

.range_popup_scroll {
    height: 360px;
    overflow-y: scroll;
}
.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}
.athlete_date {
    margin: 0;
    position: relative;
    float: right;
}
.add-ranges-button {
    bottom: 65px;
    float: right !important;
    left: 10px;
    position: relative;
    width: 140px;
}
.range_label {
    position: relative;
    right: 12px;
}
.ranges_popup,.test_percentage{
     padding: 0 !important;
}
.assign_content_holder{
    position: relative;
    right: 45px;
}
.combo--align span input {
    position: relative !important;
    top: 12px;
    width: 205px;
    box-shadow: none;
    height: 35px;
}
.combo--align--popup span input {
    height: 30px;
    left: -43px;
    position: absolute !important;
    top: -6px;
    width: 227px;
}
.assign-add-button {
    bottom: 65px;
    float: right !important;
    left: 52px;
    position: relative;
}
.assign-scroll {
    height: 360px;
    overflow-y: scroll;
}
.test-scroll {
    height: 257px;
    overflow-y: scroll;
}
.clr{
    color: #009acc !important;
}
.add_district_act{
    margin-right: 2px !important;
}
.parameter-submit,.test-submit{
    margin-right: 10px !important;
}
/*.table-position {
    position: relative;
    top: 50px;
}*/
.table-hidden{
    display: none;
}
.parameter__align {
    margin: 24px 0 0 -8px;
    position: relative;
}
.align-time {
    margin-right: -5px;
    position: relative;
    right: 19%;
}
.align-day {
    width: 100%;
}
.tooltip_parameter{
    background: #828282 none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 45px;
    color: #fff;
    display: none;
    font-family: Montserrat;
    font-size: 10px;
    height: 23px;
    left: 24%;
    padding: 5px 0 0;
    position: absolute;
    text-align: center;
    width: 90px;
    z-index: 98;
}
.tooltip_remove{
    background: #828282 none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 45px;
    color: #fff;
    display: none;
    font-family: Montserrat;
    font-size: 10px;
    height: 23px;
    left: 24%;
    padding: 6px 0 0;
    position: absolute;
    text-align: center;
    width: 113px;
    z-index: 98;
}
.parameter_add:hover .tooltip_parameter,.district_add:hover .tooltip_parameter{
    display: block;
}
.parameter_add:hover .tip_triangle,.district_add:hover .tip_triangle{
    display: block;
}
.parameter_remove:hover .tooltip_remove,.district_remove:hover .tooltip_remove{
    display: block;
}
.parameter_remove:hover .tip_triangle,.district_remove:hover .tip_triangle{
    display: block;
}
.plus_align:hover .tooltip_parameter{
    display: block;
}
.plus_align:hover .tip_triangle{
    display: block;
}
.range_remove:hover .tooltip_remove{
    display: block;
}
.range_remove:hover .tip_triangle{
    display: block;
}
.assign_remove:hover .tooltip_remove{
    display: block;
}
.assign_remove:hover .tip_triangle{
    display: block;
}
.tip_triangle{
    display:none;
    border-left: 10px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid #828282;
    height: 0;
    left: 8px;
    position: absolute;
    top: -15px;
    width: 0;
}
.range_remove{
    background: #006687 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    left: 6px;
    padding: 10px;
    position: relative;
    top: -1px;
}
.assign_remove{
    background: #006687 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    left: 6px;
    padding: 10px;
    position: relative;
    top: -1px;
}
.range_note,.edit_range_note{
    display: none;
    color: red;
    font-size: 11px;
    font-weight: normal;
}
.athlete__txt{
    font-weight: bold !important;
}

.hided{
    display: none;
    color: red;
    font-size: 11px;
    margin-left: -42px;
}

.custom_error{
    display: block;
    color: red;
    font-size: 11px;
   /* left: 40px;
    position: relative;*/
}
.footer_txt > span {
    padding: 10px 0 0;
}
.cpy_right {
    left: 40%;
    position: absolute;
}
.parameter-menu a {
    display: block;
}
.left_align {
    left: 30px;
    position: relative;
    text-align: left;
}
tbody tr {
    border-left: 1px solid #e2e2e2 !important;
    border-right: 1px solid #e2e2e2 !important;
    /*position: relative;*/
}
/*added by siva*/
.left_align_category { /* added by siva */
    left: 27px;
    position: relative;
    text-align: left;
}
.district_table { /* added by siva */
    left: 9px;
    position: relative;
}
.sports_table { /* added by siva */
    left: 34px;
    position: relative;
}
.left_align_parameter { /* added by siva */
    left: 27px;
    position: relative;
    text-align: left;
}
.left_align_testbattery { /* added by siva */
    left: 30px;
    position: relative;
    text-align: left;
}
.schedule_test { /* added by siva */
    padding: 0 !important;
    margin-left: -16px;
}
.search_part {
    margin: 14px 0 0;
}
.search-content {
    border: 1px solid #e8e7e8;
    padding: 25px 0 0;
}
.test_title span{
    color: #006687;
    font-family: Montserrat;
    font-weight: bold;
    position: relative;
    top: -5px;
}
.test_title {
    height: 22px;
    margin: 0 0 0 12px;
}
.search_box{
    height: 33px;
    width: 150px;
}
.font-search {
    background: #006687 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    height: 32px;
    padding: 8px 0 0;
    position: absolute;
    text-align: center;
    width: 35px;
}
.test-name {
    cursor: pointer;
    display: block;
    width: 250px;
    color: #414141;
    font-family: Montserrat;
    position: relative;
    text-align: left;
    margin: 12px 0 0;
}
.check_test {
    display: none;
    left: 10px;
    position: absolute;
    top: 2px;
}
.test-alter {
    float: right;
    position: relative;
    right: 15px;
    top: 2px;
}
.search__list {
    margin: 0 0 25px 40px;
}
.test-name:hover .check_test{
    display: inline-table;
}
.search-list {
    left: 40px;
    position: relative;
}
.list_edit {
    border: 0 none;
    height: 24px;
    left: 45px;
    position: relative;
    background: transparent none repeat scroll 0 0;
}
.list_edit_rollover{
    background: #fff none repeat scroll 0 0;
    border: 1px solid;
    height: 24px;
    width: 145px;
}
.test-name:hover {
    background: #e2e2e2 none repeat scroll 0 0;
}
.align_left_district {
    left : 10px;
    position:relative;
}
/* added by siva for pop_up alignment */
.edit_state_div{    /* state div */
    height: 200px;
    width: 360px;
    position:absolute;
    z-index:9999;
    background:#fff;
    display: none;
    box-shadow:  0 1px 10px 0 #d7d6d8;
    margin: -8px 0 0 -70px;
}
.delete_state_div{  /* added by siva */
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 145px;
    position: absolute;
    width: 200px;
    z-index: 9999;
    padding: 5px 7px;
    margin: 18px 0 0 168px;
    white-space: normal;
}

.edit_sports_div {  /* state div */
    height: 200px;
    width: 360px;
    position:absolute;
    z-index:9999;
    background:#fff;
    display: none;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    margin: -8px 0 0 50px;
}
.delete_sports_div {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 145px;
    position: absolute;
    width: 200px;
    z-index: 9999;
    padding: 5px 7px;
    margin: 18px 0 0 206px;
    white-space: normal;
}
.delete_catagory_div {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 145px;
    position: absolute;
    width: 200px;
    z-index: 9999;
    padding: 5px 7px;
    margin: 18px 0 0 140px;
    white-space: normal;
}
.edit_category_div { /* state div */
    height: 200px;
    width: 360px;
    position:absolute;
    z-index:9999;
    background:#fff;
    display: none;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    margin: -8px 0 0 6px;
}
.edit_district_div{ /* district div */
    background: #fff none repeat scroll 0 0;
    box-shadow:  0 1px 10px 0 #d7d6d8;
    display: none;
    height: 275px;
    margin: -8px 0 0 45px;
    position: absolute;
    width: 360px;
    z-index: 9999;
    /*overflow: auto;*/
}
.delete_district_div {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 145px;
    position: absolute;
    width: 200px;
    z-index: 9999;
    padding: 5px 7px;
    margin: 18px 0 0 206px;
    white-space: normal;
}
.adjust_popup_width{
    box-shadow: none !important;
    height: 34px;
    width: 326px !important;
}
.edit_parametertype_div {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 10px 0 #d7d6d8;
    display: none;
    height: 200px;
    margin: -8px 0 0 4px;
    position: absolute;
    width: 360px;
    z-index: 9999;

}
.delete_parametertype_div {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 145px;
    position: absolute;
    width: 200px;
    z-index: 9999;
    padding: 5px 7px;
    margin: 18px 0 0 165px;
    white-space: normal;
}
.edit_parameterunit_div{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 270px;
    margin: -8px 0 0 45px;
    position: absolute;
    width: 360px;
    z-index: 9999;
}
.delete_parameterunit_div {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 145px;
    position: absolute;
    width: 200px;
    z-index: 9999;
    padding: 5px 7px;
    margin: 22px 0 0 207px !important;
    white-space: normal;
}
/*.save_item,.edit_item,.delete_item{
    display: none;
}
.test-name:hover .edit_item{
    display: inline-block;
}
.test-name:hover .delete_item{
    display: inline-block;
}*/
.popup_label{
    float: left;
    font-size: 12px;
    font-weight: bold;
}
.delete_test_div{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 145px;
    position: absolute;
    width: 200px;
    z-index: 9999;
    padding: 5px 7px;
    margin: 18px 0 0 -50px;
    white-space: normal;
}
.delete_search{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 10px 3px #b8b7b9;
    display: none;
    height: 145px;
    position: absolute;
    width: 200px;
    z-index: 9999;
    padding: 5px 7px;
    margin: -45px 0 0 270px;
}
.edit_item,.save_item,.delete_item {
    font-size: 14px !important;
}
.checklist_txt{
    color: #414141;
    font-family: Montserrat;
    font-size: 14px;
}
.box-width {
    box-shadow: none !important;
    height: 30px !important;
    width: 230px !important;
    float: left;
}
.align-day-popup select {
    left: 2px !important;
    position: relative !important;
    width: 105% !important;
}
.test-list {
    height: 175px;
    overflow: auto;
}
.down_font {
    color: #414141;
    font-size: 20px !important;
    left: 10px;
    position: relative;
    top: 2px;
}
.hover-list{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #a0a0a0;
    height: 180px;
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    width: 190px;
    z-index: 9999;
    text-align: left;
    display: none;
}
.hover_title {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    margin: 0 0 0 15px;
}
.hover-content{
    color: #414141;
    font-family: Montserrat;
    font-size: 13px;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0 0 0 10px !important;
}
.enter_result_error{
    display: none;
    color: red;
    font-size: 11px;
    /*margin-left: -42px;*/
    font-weight: normal;
}
.hover_title_test{
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    margin: 0 0 0 30px;
}
.input_wrap{
    max-width: 145px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.athlete_list,.createschedule_list{
    display: none;
}
.popup_bib{
    margin: 0 0 0 28px;
    position: relative;
    top: -3px;
}
.align_bottom{
    margin-bottom: 70px;
}
.reverse {
    top:auto;
    bottom:45px;
}
.padding_zero{
    padding: 0 !important;
}
.district-add {
  margin: 24px 0 0;
}
.popup_add_range {
    bottom: 0 !important;
    float: right !important;
    left: 0px !important;
    top: 0;
    width: 99px !important;
}
.popup-remove{
    left: 25%;
    width:63px;
    height: 25px;
    font-size: 8px;
}
.popup-add{
    font-size: 9px;
    height: 25px;
    left: 20%;
    width: 53px;
}
.popup-add-district {
    float: right !important;
    margin: 0 0 10px;
}
.popup-add-assign {
    bottom: 15px;
    float: right !important;
    left: 30px;
    position: relative;
}
.popup-remove-assign {
    font-size: 9px;
    height: 30px;
    left: 22%;
    width: 42px;
}
.delete-assign{
    margin: 18px 0 0 15px;
}
.delete-range{
    margin: 18px 0 0 30px;
}
.align-area {
    left: 30px;
    margin: 0 20px 0 0;
    position: relative;
}
.result_table_error{
    font-size: 14px;
    color: red;
}
.result_error_content{
    border: 1px solid #c11b06;
    border-radius: 4px;
    display: none;
    margin-bottom: 20px;
    text-align: left;
}
td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.assign_schedule_add{
    width: 50px;
}
.list_active{
    background: #e2e2e2 none repeat scroll 0 0;
}
.error-font {
    color: #ff0000;
}
.error_range{
    color: #ff0000;
}
.note_range{
    border: 1px solid #ff0000;
    left: 15px;
    line-height: 2;
    position: relative;
    top: -15px;
    font-family: Montserrat;
    color: #424242;
    display: none;
}
.width_search{
        width: 152px !important;
    }