@font-face{
    font-family: Montserrat;
    url:(../font/Montserrat-Bold.ttf);
}
.header_bg {
    background: url("../images/header.png");
    background-color: transparent;
    background-size: cover;
    border: medium none !important;
    border-radius: 0 !important;
    width: 100%;
    min-height: 30px;
}
@media (min-width: 768px){
    .header_bg {
    background: url("../images/header.png");
    background-color: transparent;
    background-size: cover;
    border: medium none !important;
    border-radius: 0 !important;
    height: 100px;
    width: 100%;
    margin: 0 !important;
    }
}
.logo_img {
 background: url("../images/logo.png") no-repeat scroll 0 0 / 120px auto;
    height: 70px;
    left: 12px;
    position: absolute;
    top: 3px;
    width: 200px;
}
@media (min-width: 768px){
    .logo_img {
    background: url("../images/logo.png") no-repeat scroll 0 0 / 175px auto;
    height: 85px;
    left: 12px;
    position: absolute;
    top: -12px;
    width: 200px;
    }
}
.header_content{
    position: relative;
    top: 0px;
    font-family: Montserrat;
}
@media (min-width: 768px){
    .header_content{
    position: relative;
    top: 20px;
    font-family: Montserrat;
    }
}
.footer_txt {
    background: hsl(220, 12%, 30%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%);
    font-family: Montserrat;
    height: 34px;
    padding: 8px 0 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: relative !important;
}
.user_txt {
    line-height: 2;
}
@media (min-width: 768px){
    .user_txt {
     height: 220px;
    }
}
.user_txt > span {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    color: hsl(0, 0%, 5%);
}
@media (min-width: 768px){
    .user_txt > span {
    color: hsl(0, 0%, 5%);
    font-family: Montserrat;
    font-size: 73.76px;
    font-weight: bold;
    left: -12px;
    position: relative;
    line-height: 275px;
    }
}
.admin > label {
    color: hsl(0, 0%, 5%);
    font-size: 15px;
}
@media (min-width: 768px){
    .admin > label {
    color: hsl(0, 0%, 5%);
    font-size: 30px;
    } 
} 
.email_txt,.pwd_txt,.remember_txt {
    color: #414141;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    margin: 6px 0 0 -3px;
}
.login_btn {
    background-color: hsl(195, 100%, 26%) !important;
    border: medium none !important;
    color: hsl(0, 0%, 100%) !important;
    height: 45px;
    width: 134px;
    font-family: Montserrat;
}
.login_form {
    height: 300px;
    margin: 21px 0 0 66px;
    width: 560px;
}
.forget_txt{
    color: #414141;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    margin: 10px 15px 0 4px;
    position: relative;
    text-decoration: underline;
    top: 10px;
}
.align_center{
	text-align: center;
}
.align_right{
	float: right;
}
.sports{
  	font-size: 60px;
    font-weight: bold;
    position: relative;
    font-family:  Montserrat;
}
.clear_both{
	clear: both;
}
.area_width{
	width: 74%;
}
.statesname,.sportsname{
    width: 100%;
}
.align_margin{
	margin-bottom:23px;
}
.align_left {
    left: 0px;
    position: relative;
}
@media (min-width: 768px){
    .align_left {
    left: 95px;
    position: relative;
    }
}
.align_left1 {
    left: 50px;
    position: relative;
}
.align_height{
    line-height: 2;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.positioning_r{
    position: relative;
}
.row_color{
    color: #006687;
    font-family: Montserrat;
}
.delete_color {
    color: #414141;
    font-weight: bold;
    font-family: Montserrat;
}
.align_left_icon{
    margin-right: 10px;
    border-radius: 0 !important;
}
.align_right_icon{
    margin-left: 10px !important;
    border-radius: 0 !important;
}
.submit{
	background: none repeat scroll 0 0 #006687;
    height: 45px;
    width: 135px;
    border-radius: 0 !important;
    font-weight: bold;
    font-family: Montserrat;
}
.clear{
    background-color: #006687 !important;
    color: #fff !important;
    height: 45px;
    width: 135px;
    border-radius: 0 !important;
    font-weight: bold;
    font-family: Montserrat;
    margin-right: 10px;
}
.clear:hover{
    background: none repeat scroll 0 0 #fff !important;
    height: 45px;
    width: 135px;
    border-radius: 0 !important;
    font-weight: bold;
    font-family: Montserrat;
    color: #006687 !important;
}
.container_holder {
    width: 785px;
}
.districts{
	width: 215px;
	height: 34px;
}
@media (min-width: 768px){
    .districts{
    width: 410px;
    height: 34px;
    }
}
.adjust_width{
	width: 410px !important;
	height: 34px;
	/*border-radius:  0 !important;*/
	box-shadow: none !important;
}
.adjust_width_tiny{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 10px 32px;
    position: relative;
    right: 110px;
    width: 115px !important;
    font-family: Montserrat;
    color: #c6c6c6 !important;
}
.adjust_tiny{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 30px 0 10px 32px;
    position: relative;
    right: 110px;
    width: 115px !important;
    font-family: Montserrat;
    color: #c6c6c6 !important;
}
.align_margin_right{
	margin-right: 48px;
}
.table_adjust {
    left: 90px;
    position: relative !important;
    width: 80%;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
border-top: 0 !important;
}
.table > thead > tr > th{
	border-bottom: 1px !important;
}
. table > tbody{
	border:1px solid !important;
}
.state_table > tbody td,.district_table > tbody td,.athletes_table > tbody td{
     border:1px solid;
     border-bottom: 0 !important
}
.state_table > thead,.district_table > thead,.athletes_table > thead{
    border-bottom: 1px solid;
}
.state_table > tbody tr:last-child,.district_table > tbody tr:last-child,.athletes_table > tbody tr:last-child{
    border-bottom: 1px solid !important;
}
.align-height{
    line-height: 2;
}
#submenu {
    background-color: hsl(0, 0%, 100%);
}
.menu_list {
    padding: 0 !important;
    width: 100%;
}
.nav_holder {
    background-color: hsl(195, 100%, 26%) !important;
    border-color: hsl(195, 100%, 26%) !important;
}
.nav_holder li a{
    color: #2d2d2d;
    font-size: 24px;
    font-family: Montserrat;
    line-height: 3;
    font-weight: bold;
}
.nav_holder li :hover{
    background-color: hsl(195, 100%, 26%) !important;
    border-color: hsl(195, 100%, 26%) !important;
    color:#fff !important;
}
.nav_holder li {
    border-right: 1px solid hsl(195, 100%, 20%);
    height: 100px;
}
.nav_holder > li > a:hover, .nav_holder > li > a:focus {
    background-color: hsl(195, 100%, 26%) !important;
    outline: medium none !important;
    text-decoration: none !important;
}
.submenu_list {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
}
.submenu_list li a{
    color: #2d2d2d;
     font-weight: bold;
}
.submenu_list > li > a:hover{
    color: #009acc !important;
    background-color: transparent !important;
}
.submenu_list > li > a:focus{
    background-color: transparent !important;
    outline: medium none !important;
}
.submenu-align {
    height: 63px;

    position: absolute;
    z-index: 1;
}
.submenu-align > li {
    border-bottom: 1px solid #636363;
    line-height: 3;
}
.submenu_list {
    padding: 0 4px 0 48px !important;
    position: relative !important;
    width: 100% !important;
}
select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, #a0a0a0 50%),
    linear-gradient(135deg, #a0a0a0 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) -0.5em;
  background-size: 5px 5px, 5px 5px, 0.07em 3.5em;
  background-repeat: no-repeat;
  cursor: pointer;
}
select {
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance: none;
}
.navbar {
    margin-bottom:-1px;
    border-radius:0;
}

#submenu {

    margin-bottom:20px;
}

.collapsing {
    display:none;
}
.edit_state,.edit_district{
    cursor: pointer;
}
.popup_fade {
    background:#000000;
   -moz-opacity:0.63;
    opacity: 0.63;
    display: none;
    width: 100%;
    height: 1000%;
    position: absolute;
    top: 0;
    z-index: 1100;
    overflow: hidden;
}
.state_div{
    height: 200px;
    width: 400px;
    top:50%;
    left:50%;
    position:fixed;
    z-index:9999;
    background:#fff;
    display: none;
}
.delete_div{
    height: 200px;
    width: 400px;
    top:50%;
    left:50%;
    position:fixed;
    z-index:9999;
    background:#fff;
    display:none;
}
.login_div{
    height: 350px;
    width: 500px;
    top:50%;
    left:50%;
    position:fixed;
    z-index:9999;
    background:#fff;
    display:none;
}
.register_div{
    height: 560px;
    width: 500px;
    top:50%;
    left:50%;
    position:fixed;
    z-index:9999;
    background:#fff;
    display:none;
}
.test_div{
    height: 350px;
    width: 500px;
    top:50%;
    left:50%;
    position:fixed;
    z-index:9999;
    background:#fff;
    display:none;
}
.district_div{
    height: 300px;
    width: 440px;
    top:50%;
    left:50%;
    position:fixed;
    z-index:9999;
    background:#fff;
    display:none;
}
.test_battery_div{
    height: 600px;
    width: 465px;
    top:50%;
    left:50%;
    position:fixed;
    z-index:9999;
    background:#fff;
    display:none;
}
.range_div{
    height: 450px;
    width: 500px;
    top:50%;
    left:50%;
    position:fixed;
    z-index:9999;
    background:#fff;
    display:none;
}
.close_btn{
    background-color: hsla(0, 0%, 0%, 0);
    background-image: url("../images/close_btn.png");
    background-repeat: no-repeat;
    height: 25px;
    position: absolute;
    right: 8px;
    top: 14px;
    width: 25px;
    cursor: pointer;
}
.state-content{
    margin: 25px 0px 0px 0px;
}
.yes_btn{
    background-color: #ffffff !important;
    color: #006687 !important;
    height: 45px;
    width: 135px;
    border-radius: 0 !important;
    font-weight: bold;
    font-family: Montserrat;
    margin-right: 60px;
}
.no_btn{
    background-color: #ffffff !important;
    color: #006687 !important;
    height: 45px;
    width: 135px;
    border-radius: 0 !important;
    font-weight: bold;
    font-family: Montserrat;
    margin-right: 10px;
}
.yes_btn:hover,.no_btn:hover{
    background-color: #006687 !important;
    color: #fff !important;
}
.delete_state,.delete_district{
    cursor: pointer;
    float: right;
    position: relative;
    right: 25%;
}
.edit_state:hover,.edit_district:hover{
    color: #006687 !important;
}
.del_title ,.login_title,.edit_title{
    font-size: 18px;
    height: 40px;
    padding: 12px 0 0 15px;
    font-weight: bold;
    font-family: Montserrat;
}
.del_content {
    font-size: 18px;
    font-family: Montserrat;
    height: 100px;
    color: #33859f;
    text-align: center;
    line-height: 3;
}
.states_list,.district_list{
    display: none;
}
.reg_check {
    background-color: transparent;
    color: #006687;
    text-decoration: underline;
}
.info_reg{
    font-size: 12px;
    font-family: Myriad Pro;
    color: #000;
}
.delete_color:hover {
    background: #d9e8ed;
}
.schedule_btn {
    padding: 0 !important;
}
.dob_align{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 10px 32px;
    position: relative;
    right: 120px;
    width: 115px !important;
    font-family: Montserrat;
    color: #c6c6c6 !important;
}
.range_align{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 8px 0 10px 32px;
    position: relative;
    right: 85px;
    width: 115px !important;
    font-family: Montserrat;
    color: #c6c6c6 !important;
}
.ranges_btn{
    background-color: #FFF !important;
    color: #006687 !important;
    height: 35px;
    width: 135px;
    border-radius: 0px !important;
    font-weight: bold;
    font-family: Montserrat;
    margin-right: 5px;
    position: relative;
    bottom: 45px;
    cursor: pointer !important;
    padding: 2px 0px 2px 32px !important;
}
.parameter_btn{
    background-color: #FFF !important;
    color: #006687 !important;
    height: 35px;
    width: 160px;
    border-radius: 0px !important;
    font-weight: bold;
    font-family: Montserrat;
    margin-right: -20px;
    position: relative;
    bottom: 45px;
    cursor: pointer !important;
    padding: 0px 10px 2px 40px !important;
}
.type_align{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 10px 32px;
    position: relative;
    right: 34px;
    width: 115px !important;
    font-family: Montserrat;
    color: #c6c6c6 !important;
}
.area_scroll{
    border: 1px solid #a0a0a0;
    overflow-y: scroll;
    width: 73%;
    height: 120px;
}
.align_check {
    margin: 10px 0 10px 15px;
}
.name_align{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 10px 32px;
    position: relative;
    right: 30px;
    width: 230px !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
}
.date_assign{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 10px 32px;
    position: relative;
    right: 35px;
    width: 150px !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
}
.assign_border {
    border: 1px solid #a0a0a0;
    color: #414141;
    padding: 6px 15px;
    line-height: 2;
}
.assign_table td {
    border: medium none !important;
}
.total_div {
    position: relative !important;
    top: 50px !important;
}
.assign_table{
    position: relative;
    top: 20px;
}
.plus_align {
    position: relative;
    right: 71px;
    top: -7px;
    color: rgb(255, 255, 255);
    background: none repeat scroll 0% 0% rgb(0, 102, 135);
    padding: 12px 10px 7px 12px;
    cursor: pointer;
}
.parameter_add {
    position: relative;
    right: 18px;
    top: 12px;
    color: #FFF;
    background: none repeat scroll 0% 0% #006687;
    padding: 12px 10px 7px 12px;
    cursor: pointer;
}
label{
    color: #414141 !important;
    font-family: Montserrat;
}
button, input, optgroup, select, textarea {
    font-family: Montserrat !important;
}
.type_align_popup{
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 34px;
    margin: 12px 0 10px 30px;
    position: relative;
    right: 27px;
    width: 115px !important;
    font-family: Montserrat;
    color: #c6c6c6 !important;
}
.area_scroll_popup{
    border: 1px solid #A0A0A0;
    overflow-y: scroll;
    width: 100%;
    height: 120px;
}
.range_align_popup{
    border-radius: 0px !important;
    box-shadow: none !important;
    height: 34px;
    margin: 9px -2px 10px 10px;
    position: relative;
    right: 60px;
    width: 120px !important;
    font-family: Montserrat;
    color: #C6C6C6 !important;
}
.footer {
    padding: 0 !important;
}
.ui-menu{
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    height: auto;
    left: 499.5px;
    list-style: outside none none;
    overflow-y: scroll;
    padding: 0;
    position: relative;
    top: -158px;
    width: 335px;
    z-index: 1;
}
.ui-menu-item a:hover {
    text-decoration: none !important;
}
.ui-menu-item {
    cursor: pointer;
    font-size: 15px;
    font-family: Montserrat;
    padding: 2px 0 0 6px;
}
/*for pagination add by muthu*/
.paging-nav {
      text-align: center;
      padding-top: 2px;
}

.paging-nav a {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #337ab7;
  display: inline-block;
  margin: auto 1px;
  padding: 6px 12px;
  text-decoration: none !important;
}

.paging-nav .selected-page {
      font-weight: bold;
}
#sports_table tbody,#category_table tbody{
  border: 1px solid #000;
}
/*end pagination*/
.report_head{
    border: 1px solid;
}
.adds_btn{
    background-color: #fff !important;
    border-radius: 0 !important;
    bottom: 45px;
    color: #006687 !important;
    cursor: pointer !important;
    font-family: Montserrat;
    font-weight: bold;
    height: 35px;
    margin-right: 30px;
    padding: 2px 0 2px 32px !important;
    position: relative;
    width: 100px;
}
.add_align{
   background: rgb(0, 102, 135) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 12px 10px 7px 12px;
    position: relative;
    right: 12px;
    top: 53px;
}
.btn_div {
    margin: 45px 5px 0;
    padding: 0 !important;
}
.user_type {
    margin: 0 0 0 -30px;
    padding: 0 !important;
}
.admin_align{
    width: 29% !important;
}
.admin-login {
    position: relative;
    top: 20px;
}
.schedule-name{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px 16px;
    position: relative;
    right: 15px;
    width: 240px !important;
}
.bib_popup{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px 28px;
    position: relative;
    right: 30px;
    width: 155px !important;
}
.create-date {
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px 5px;
    position: relative;
    right: 77px;
    width: 102px !important;
}
.create-time {
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 30px 0 10px 3px;
    position: relative;
    right: 75px;
    width: 102px !important;
}
.edit_states_error,.add_states_error,.add_district_error,.edit_district_error{
    display: none;
    color: red;
    float: right;
    font-size: 14px;
}
.ui-helper-hidden-accessible{
    display: none;
}

input[type=radio]
 {
  display: none;
}

.admin_label:before {
  font-weight: normal;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  left: 0;
  bottom: 1px;
  background-color: #fff;
  box-shadow: 0 0 0 2px #e7e7e7 inset;
}

.radio label:before {
  border-radius: 10px;
}
input[type=radio]:checked + label:before {
  content: '\2022';
  color: #006687;
  font-size: 32px;
  text-align: center;
  line-height: 17px;
}
.paramter_div{
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 280px;
    left: 50%;
    position: fixed;
    top: 50%;
    width: 478px;
    z-index: 9999;
}
.adjust_width_parameter{
    box-shadow: none !important;
    height: 34px;
    width: 370px !important;
}
.submenu-align > li {
    position: absolute !important;
    width: 100% !important;
}
.parameter-list {
    position: absolute;
    width: 93%;
    display: none;
}
.parameter-list ul {
    border: 1px solid #2d2d2d;
    color: #2d2d2d;
    float: right;
    list-style: outside none none;
    padding: 0;
    height: 87px;
}
.parameter-list li{
    border-bottom: 1px solid #2d2d2d;
    text-align: center;
    width: 100px;
}
.parameter-list li:hover {
    background: #006687 none repeat scroll 0 0;
}
.parameter-list li a:hover {
    background: #006687 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.create-date1 {
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px 7px;
    position: relative;
    right: 77px;
    width: 120px !important;
}
.create-date2 {
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px 5px;
    position: relative;
    right: 60px;
    width: 120px !important;
}
.create-date3 {
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px -48px;
    position: relative;
    right: -8px;
    width: 120px !important;
}
.create-time1{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 30px 0 10px -4px;
    position: relative;
    right: 75px;
    width: 120px !important;
}
.create-time2{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 30px 0 10px;
    position: relative;
    right: 48px;
    width: 120px !important;
}
.create-time3{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 30px 0 10px -42px;
    position: relative;
    right: -15px;
    width: 120px !important;
}
.area_width_create{
    width: 102%;
}
.dob_align1{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 13px 0 10px 25px;
    position: relative;
    right: 120px;
    width: 120px !important;
}
.dob_align2{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 12px 0 10px 20px;
    position: relative;
    right: 120px;
    width: 120px !important;
}.dob_align3{
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #c6c6c6 !important;
    font-family: Montserrat;
    height: 34px;
    margin: 13px 0 10px -117px;
    position: relative;
    right: -7px;
    width: 120px !important;
}
.athlete-popup-content {
    height: 500px;
    overflow-y: scroll;
}
.area_width_athlete {
    width: 105%;
}
/*added for validation by ramya */
.category_text{
    display: none;
}
.error{
    color: red !important;
    display: block;
    float: right;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
}

.help-block, .form-error{
    color: red !important;
    float: right;
    font-size: 14px;
}
/* end */
